<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>User Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <form name="dilizityForm" id="dilizityForm" class="form-horizontal form-label-left" novalidate>
                    <div class="x_title">
                        <h2>{{vm.title}}</h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li class="dropdown">
                                <a uib-tooltip="Go Back" tooltip-placement="left" onclick="history.back()" class="collapse-link"><i class="glyphicon glyphicon-backward"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.isMakerMode()" uib-tooltip="Save As Draft" tooltip-placement="left" ng-click="vm.doAction('SaveAsDraft', '.Save', dilizityForm)" class="collapse-link"><i class="glyphicon glyphicon-saved"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.isMakerMode()" uib-tooltip="Ready for Checker Approval" tooltip-placement="left" ng-click="vm.doAction('PendingApproval', '.ApprovalReady', dilizityForm)" class="collapse-link"><i class="glyphicon glyphicon-floppy-save"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.isCheckerMode()" uib-tooltip="Approve" tooltip-placement="left" ng-click="vm.doAction('Approve', '.Approve', dilizityForm)" class="collapse-link"><i class="glyphicon glyphicon-ok"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.isCheckerMode()" uib-tooltip="Correction Required" tooltip-placement="left" ng-click="vm.doAction('CorrectionRequired', '.Correction', dilizityForm)" class="collapse-link"><i class="glyphicon glyphicon-eye-open"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.isCheckerMode()" uib-tooltip="Reject" tooltip-placement="left" ng-click="vm.doAction('Reject', '.Reject', dilizityForm)" class="collapse-link"><i class="glyphicon glyphicon-remove"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.userPermission.Save=='Dilizity.Backoffice.User.Add.Save'" uib-tooltip="Save" tooltip-placement="left" ng-click="vm.doAction(null, '.Save', dilizityForm)" class="collapse-link"><i class="glyphicon glyphicon-saved"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.userPermission.Save=='Dilizity.Backoffice.User.Edit.Save'" uib-tooltip="Save" tooltip-placement="left" ng-click="vm.doAction(null, '.Save', dilizityForm)" class="collapse-link"><i class="glyphicon glyphicon-floppy-save"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.isMakerCheckerMode()" data-toggle="modal" data-target=".bs-example-modal-lg" uib-tooltip="Comments" tooltip-placement="left" class="collapse-link"><i class="glyphicon glyphicon-comment"></i></a>
                            </li>
                            <li>
                                <a ng-show="vm.permissionName=='Dilizity.Backoffice.User.Edit.Checker'" uib-tooltip="Compare" tooltip-placement="left" ng-click="vm.compare('lg')" class="collapse-link"><i class="glyphicon glyphicon-sunglasses"></i></a>
                            </li>
                            <li>
                                <a uploadfile tooltip-placement="left" class="collapse-link"><i class="glyphicon glyphicon-picture"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                User Name <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" ng-model="vm.name" id="name" class="form-control col-md-7 col-xs-12" required>
                                <div ng-messages="dilizityForm.name.$error.required">
                                    <p ng-message="required">Name is required.</p>
                                </div>
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Login Id
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" ng-model="vm.loginId" id="loginId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Email
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="email" ng-model="vm.email" id="email">
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Mobile Number
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" ng-model="vm.mobilenumber" id="mobilenumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Password Attempts
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="number" min="1" max="5" ng-model="vm.passwordAttempts" id="passwordAttempts">
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Password Policy
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control selectpicker" ng-model="vm.selectedPasswordPolicy">
                                    <option ng-repeat="option in vm.passwordPolicy" value="{{option.Id}}">{{option.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Account Locked
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <ul class="to_do">
                                    <li>
                                        <p>
                                            <input type="checkbox" class="flat" ng-model="vm.accountLocked">Yes
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Department
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control selectpicker" ng-model="vm.selectedDepartment">
                                    <option ng-repeat="option in vm.departments" value="{{option.Id}}">{{option.Name}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Manger
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <selectize placeholder='Select Manger' options='vm.managerList' config="vm.selectConfigManager" ng-model="vm.selectedManger" required='true'></selectize>
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                User Roles
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <selectize placeholder='Select Roles' options='vm.availableRoles' config="vm.selectConfigRoles" ng-model="vm.assignedRoles" required='true'></selectize>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Picture
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="file" id="fileInput" style="display: none;" >
                                <div class="col-md-4 col-sm-4 col-xs-12 cropArea">
                                    <img-crop image="vm.myImage" result-image="vm.myCroppedImage"></img-crop>
                                </div>
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Cropped Image:
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12 cropArea">
                                <img ng-src="{{vm.myCroppedImage}}" />
                            </div>
                        </div>
                </form>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel2">Notes</h4>
                            </div>
                            <div class="modal-body">

                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Message</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Notes</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <form>
                                                <div class="form-group">
                                                    <label for="message-text" class="control-label">Message:</label>
                                                    <textarea class="form-control" ng-model="vm.newMessage" id="message-text"></textarea>
                                                </div>
                                            </form>                                      
                                         </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in vm.notes">
                                                        <th scope="row">{{item}}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.saveNote()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

