<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Role Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{vm.title}}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown">
                            <a uib-tooltip="Go Back" tooltip-placement="left" onclick="history.back()" class="collapse-link"><i class="glyphicon glyphicon-backward"></i></a>
                        </li>                        
                        <li>
                            <a ng-show="vm.permissionName=='Dilizity.Backoffice.Role.Add.Maker'" uib-tooltip="Save As Draft" tooltip-placement="left" ng-click="vm.addUpdateMaker('SaveAsDraft')" class="collapse-link"><i class="glyphicon glyphicon-saved"></i></a>
                        </li>
                        <li>
                            <a ng-show="vm.permissionName=='Dilizity.Backoffice.Role.Add.Maker'" uib-tooltip="Ready for Checker Approval" tooltip-placement="left" ng-click="vm.addUpdateMaker('PendingApproval')" class="collapse-link"><i class="glyphicon glyphicon-floppy-save"></i></a>
                        </li>
                        <li>
                            <a ng-show="vm.permissionName=='Dilizity.Backoffice.Role.Update.Maker'" uib-tooltip="Save As Draft" tooltip-placement="left" ng-click="vm.addUpdateMaker('SaveAsDraft')" class="collapse-link"><i class="glyphicon glyphicon-saved"></i></a>
                        </li>
                        <li>
                            <a ng-show="vm.permissionName=='Dilizity.Backoffice.Role.Update.Maker'" uib-tooltip="Ready for Checker Approval" tooltip-placement="left" ng-click="vm.addUpdateMaker('PendingApproval')" class="collapse-link"><i class="glyphicon glyphicon-floppy-save"></i></a>
                        </li>
                        <li>
                            <a ng-show="vm.permissionName=='Dilizity.Backoffice.Role.Add'" uib-tooltip="Ready for Checker Approval" tooltip-placement="left" ng-click="vm.add()" class="collapse-link"><i class="glyphicon glyphicon-saved"></i></a>
                        </li>
                        <li>
                            <a ng-show="vm.permissionName=='Dilizity.Backoffice.Role.Update'" uib-tooltip="Ready for Checker Approval" tooltip-placement="left" ng-click="vm.update()" class="collapse-link"><i class="glyphicon glyphicon-floppy-save"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Role Name <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" ng-model="vm.roleName" id="roleName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                                Permissions <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div data-angular-treeview="true"
                                     data-tree-id="allPermissionsTree"
                                     data-tree-model="vm.availablePermissions"
                                     data-node-id="Id"
                                     data-node-label="label"
                                     data-node-children="children"
                                     ng-click="vm.printParent($event);">
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="vm.copyPermissions(allPermissionsTree, assignedPermissionsTree, vm.availablePermissions, vm.assignedPermissions )">
                                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="vm.movePermissions(allPermissionsTree, assignedPermissionsTree, vm.availablePermissions, vm.assignedPermissions)">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="vm.movePermissions(assignedPermissionsTree, allPermissionsTree, vm.assignedPermissions, vm.availablePermissions )">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="vm.RemovePermissions(assignedPermissionsTree, vm.assignedPermissions )">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div data-angular-treeview="true"
                                     data-tree-id="assignedPermissionsTree"
                                     data-tree-model="vm.assignedPermissions"
                                     data-node-id="Id"
                                     data-node-label="label"
                                     data-node-children="children">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

