<div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" name="form" ng-submit="vm.login()" role="form">
                <fieldset>
                    <input type="text"
                           placeholder="username"
                           name="username"
                           id="username"
                           ng-model="vm.username"
                           ng-minlength=5
                           ng-maxlength=20
                           required />

                    <div class="error" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                        <small class="error" ng-show="loginForm.username.$error.required"> Your name is required.</small>
                        <small class="error" ng-show="loginForm.username.$error.minlength"> Your name is required to be at least 3 characters </small>
                        <small class="error" ng-show="loginForm.username.$error.maxlength"> Your name cannot be longer than 20 characters </small>
                    </div>

                    <input type="password"
                           placeholder="password"
                           name="password"
                           id="password"
                           ng-model="vm.password"
                           ng-minlength=5
                           ng-maxlength=20
                           required />

                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading">Login</button>
                    <i loader class="hidden fa fa-spinner fa-spin"></i>
                </fieldset>
            </form>
        </div>
    </div>
</div>