CREATE TABLE [OF_OPERATIONS](
	[OPERATION_ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED ,
	[PARENT_OPERATION_ID] INT NULL REFERENCES OF_OPERATIONS(OPERATION_ID),
	[PERMISSION_CLASS] nvarchar(1024) NOT NULL,
	[PERMISSION_ID] [int] NOT NULL,
	[INPUT_PARAMS] nvarchar(max) NULL,
	[STATUS] nvarchar(20) NULL,
	 ERROR_CODE int NULL,
	[CREATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[UPDATED_BY] [nvarchar](100) NULL,
)
GO

--DROP TABLE [MAKER_LIST]

CREATE TABLE [MAKER_LIST](
	[MAKER_ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED ,
	[PERMISSION_ID] [int] NOT NULL,
	[DATA] nvarchar(max) NOT NULL,
	[STATUS] nvarchar(100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[UPDATED_BY] [nvarchar](100) NULL,
)
GO


