<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Role Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add Role</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a ng-show="vm.userPermission.Add=='Dilizity.Backoffice.Role.Add'" uib-tooltip="Add Role" tooltip-placement="left" ui-sref='index.AddRole' class="collapse-link"><i class="fa fa-plus"></i></a>
                        </li>
                        <li class="dropdown">
                            <a ng-show="vm.userPermission.Delete=='Dilizity.Backoffice.Role.Delete'" uib-tooltip="Delete Role" tooltip-placement="left" ui-sref='index.AddRole' class="collapse-link"><i class="fa fa-trash"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Role Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-model="vm.roleName" id="roleName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Permissions <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ui-select class="form-control" multiple  ng-model="vm.selectedRolePermissions">
                                    <ui-select-match class="ui-select-match">
                                        {{$item.PermissionName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in (vm.permissionList | filter: $select.search) track by item.PermissionId" class="ui-select-choices">
                                        <div ng-bind-html="item.PermissionName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                                {{vm.selectedRolePermissions}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Permissions <span class="required">*</span>
                            </label>
                            <div ui-tree>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

