<!DOCTYPE html>

<html ng-app="ReportingMIS">

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="Content/ui-grid.css" /> 
    <link rel="stylesheet" type="text/css" href="Content/main.css" />
    <script src="scripts/angular.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="scripts/ui-grid.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/userController.js"></script>
</head>
<body>
    <div ng-controller="userController" >
        Users List
        <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-move-columns class="grid">
        </div>

    </div>



</body>
</html>