<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" ng-show="menuContainer.left" >
            <div class="left_col scroll-view">

                <div class="navbar nav_title" style="border: 0;">
                    <div id="loaderDiv" loader class="hidden">
                        <img src="../images/ajax-loader.gif" />
                    </div>
                    <a href="index.html" class="site_title"><i class="fa fa-cubes"></i> <span>Reporting MIS</span></a>
                </div>
                <div class="clearfix"></div>
                <br />
                <div ui-view="sidebar"></div>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div ui-view="nav">
                </div>
            </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div ui-view></div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Reporting MIS copyright (©) 2016
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
