<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" ng-show="menuContainer.left" >
            <div class="left_col scroll-view">

                <div class="navbar nav_title" style="border: 0;">
                    <!--<img class=""  src="../images/ajax-loader.gif" />-->
                    
                    <a href="index.html" class="site_title"><i loader class="hidden fa fa-spinner fa-spin"></i> <span>Reporting MIS</span></a>
                </div>
                <div class="clearfix"></div>
                <div ui-view="sidebar"></div>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div ui-view="nav">
                </div>
            </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="alert alert-dismissible fade in" ng-class="'alert-' + (alert.type || 'warning')" ng-repeat="alert in alerts" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{alert.msg}}
            </div>
            <div ui-view></div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Reporting MIS copyright (©) 2016
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
