<div class="panel panel-default">
    <div class="panel-heading">{{vm.MetaReport.DisplayName}}</div>
    <div class="panel-body">

        <form ng-submit="vm.reportSubmit()" name="vm.form" novalidate>
            <formly-form model="vm.model" fields="vm.fields" >
                <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
                <button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
            </formly-form>
        </form>

    </div>
    <div  class="panel-footer">Result
    </div>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-move-columns class="grid"></div>
</div>

