<!--<div>
    <form class="form-group" name="reportForm" ng-submit="vm.reportSubmit()">
            User Name:
            <input type="text"
                   placeholder="user name"
                   name="username"
                   id="username"
                   ng-model="vm.username"
                   ng-minlength=5
                   ng-maxlength=20
                   required />

            <div class="error" ng-show="reportForm.username.$dirty && reportForm.username.$invalid">
                <small class="error" ng-show="reportForm.username.$error.required"> Your name is required.</small>
                <small class="error" ng-show="reportForm.username.$error.minlength"> Your name is required to be at least 3 characters </small>
                <small class="error" ng-show="reportForm.username.$error.maxlength"> Your name cannot be longer than 20 characters </small>
            </div>

            Date:
            <div style="display:inline-block; min-height:290px;">
                <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
            </div>

            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading">Login</button>
        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </form>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
</div>-->

<div class="panel panel-default">
    <div class="panel-heading">Second Report</div>
    <div class="panel-body">
        <form class="form-group" name="reportForm" ng-submit="vm.reportSubmit()">

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-1 col-form-label">Text</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-date-input" class="col-sm-1 col-form-label">Date</label>
                <div class="col-sm-4">
                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="panel-footer">Result</div>
</div>