<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Role Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Search Role</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a ng-show="vm.userPermission.Add=='Dilizity.Backoffice.Role.Add'" uib-tooltip="Add Role" tooltip-placement="left" ui-sref="index.ActionRole({ roleId: 0, permissionName: 'Dilizity.Backoffice.Role.Add' })" class="collapse-link"><i class="fa fa-plus"></i></a>
                        </li>
                        <li class="dropdown">
                            <a ng-show="vm.userPermission.Delete=='Dilizity.Backoffice.Role.Delete'" uib-tooltip="Delete Role" tooltip-placement="left" ui-sref='index.AddRole' class="collapse-link"><i class="fa fa-trash"></i></a>
                        </li>
                        <li>
                            <a ng-show="vm.userPermission.Search=='Dilizity.Backoffice.Role.Search'" uib-tooltip="Search Role" tooltip-placement="left" ng-click="vm.searchRole()" class="collapse-link"><i class="fa fa-search"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Role Id
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" ng-model="vm.roleId" id="roleId">
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Role Name
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" ng-model="vm.roleName" id="roleName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                Permissions
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" ng-model="vm.selectedRolePermission"
                                        ng-options="rolePermission.PermissionId as rolePermission.PermissionName for rolePermission in vm.permissionList"></select>

                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div ui-grid="gridOptions" external-scopes="editClickHandler" ui-grid-selection ui-grid-pagination ui-grid-exporter class="grid"></div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="col-md-2 col-sm-2 col-xs-12 pull-left" ng-show="!gridOptions.data.length">
                                    No Data Available
                                </label>
                                <label class="col-md-2 col-sm-2 col-xs-12 pull-left" ng-show="gridOptions.data.length > 0">
                                    Showing {{ pagination.pageNumber }} to {{ pagination.getTotalPages() }}
                                </label>
                                <button class="btn btn-default pull-right" ng-click="pagination.previousPage()" type="button">
                                    <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-default pull-right" ng-click="pagination.nextPage()" type="button">
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

