<div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" name="form" ng-submit="vm.changePassword()" role="form">
                <fieldset>
                    <input type="password"
                            placeholder="Old Password"
                            name="oldPassword"
                            id="oldPassword"
                            ng-model="vm.oldPassword"
                            ng-minlength=5
                            ng-maxlength=20
                            required />
                    <div class="error" ng-show="loginForm.oldPassword.$dirty && loginForm.oldPassword.$invalid">
                        <small class="error" ng-show="loginForm.oldPassword.$error.required"> Your Old Password is required.</small>
                    </div>

                    <input type="password"
                            placeholder="New Password"
                            name="newPassword"
                            id="newPassword"
                            ng-model="vm.newPassword"
                            ng-minlength=5
                            ng-maxlength=20
                            required />

                    <div class="error" ng-show="loginForm.newPassword.$dirty && loginForm.newPassword.$invalid">
                        <small class="error" ng-show="loginForm.newPassword.$error.required"> Your New Password is required.</small>
                    </div>

                    <input type="password"
                            placeholder="Re-enter Password"
                            name="reenterPassword"
                            id="reenterPassword"
                            ng-model="vm.reenterPassword"
                            ng-minlength=5
                            ng-maxlength=20
                            required />
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading">Change Password</button>
                </fieldset>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </form>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        </div>
    </div>
</div>
