CREATE TABLE [OF_OPERATIONS](
	[OPERATION_ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED ,
	[PARENT_OPERATION_ID] INT NULL REFERENCES OF_OPERATIONS(OPERATION_ID),
	[PERMISSION_CLASS] nvarchar(1024) NOT NULL,
	[PERMISSION_ID] [int] NOT NULL,
	[INPUT_PARAMS] nvarchar(max) NULL,
	[STATUS] nvarchar(20) NULL,
	 ERROR_CODE int NULL,
	[CREATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[UPDATED_BY] [nvarchar](100) NULL,
)
GO

--DROP TABLE [MAKER_LIST]

CREATE TABLE [MAKER_LIST](
	[MAKER_ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED ,
	[PERMISSION_ID] [int] NOT NULL,
	[DATA] nvarchar(max) NOT NULL,
	[STATUS] nvarchar(100) NOT NULL,
	OBJECT_ID [INT] NULL,
	IS_DELETED [INT] NULL,
	[CREATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[UPDATED_BY] [nvarchar](100) NULL,
)
GO

CREATE TABLE SYS_ERROR_MAPPING
(
	ERROR_MAPPING_ID INT IDENTITY NOT NULL PRIMARY KEY,
	PERMISSION_ID INT NULL REFERENCES SEC_PERMISSION(PERMISSION_ID),
	ERROR_CODE INT NOT NULL,
	DESCRIPTION NVARCHAR(200) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[UPDATED_BY] [nvarchar](100) NULL
)
GO
