<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
    type="System.Configuration.ApplicationSettingsGroup, 
      System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    </sectionGroup>
  </configSections>
  <connectionStrings configSource=""/>
  <appSettings>
    <!--<add key="MetaDataLocation" value="E:\PersonalWork\MessageTemplateEngine\MessageTemplateEngine\bin\Debug\MetaData.xml" Type="XML"/>-->
    <add key="Source" value="DATABASE"/>
    <add key="MetaDataLocation" value="Report"/>
  </appSettings>
    
</configuration>