CREATE TABLE [OF_OPERATIONS](
	[OPERATION_ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED ,
	[PARENT_OPERATION_ID] INT NULL REFERENCES OF_OPERATIONS(OPERATION_ID),
	[PERMISSION_CLASS] nvarchar(1024) NOT NULL,
	[PERMISSION_ID] [int] NOT NULL,
	[INPUT_PARAMS] nvarchar(max) NULL,
	[STATUS] nvarchar(20) NULL,
	[CREATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL DEFAULT GETDATE(),
	[UPDATED_BY] [nvarchar](100) NULL,
)
GO


