SET IDENTITY_INSERT [dbo].[SEC_PASSWORD_POLICY] ON
INSERT [dbo].[SEC_PASSWORD_POLICY] ([PASSWORD_POLICY_ID], [POLICY_NAME], [LENGTH_RULE], [EXPIRY_RULE], [NUMBER_CANT_REUSE], [COMPLEXITY_RULE], [FIRST_LOGIN_CHANGE_PASSWORD], [IS_SYSTEM], [IS_DELETED], [IS_EMAIL_SENT_ON_LOGON],[IS_SMS_SENT_ON_LOGON], [IS_2FA_ENABLED], DEFAULT_PASSWORD_ATTEMPTS, ACCOUNT_LOCK_ON_FAILED_ATTEMPTS, [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY]) VALUES (1, N'Admin Policy', 8, 1, 5, 2, 0, 1, 0, 0,0, 0, 3, 1, getdate(), N'System', getdate(), N'System')
SET IDENTITY_INSERT [dbo].[SEC_PASSWORD_POLICY] OFF

SET IDENTITY_INSERT [dbo].[SEC_PERMISSION] ON
INSERT [dbo].[SEC_PERMISSION] ([PERMISSION_ID], [PERMISSION_NAME], [CAN_ADD], [CAN_UPDATE], [CAN_DELETE], [CAN_VIEW], [CAN_MAKE], [CAN_CHECK],  [CAN_EXECUTE], [IS_SYSTEM], [IS_DELETED], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY]) 
SELECT 1, N'Dilizity.Login'         , 0, 0, 0, 0, 0, 0, 0, 1, 0, getdate(), N'System', getdate(), N'System'
UNION ALL
SELECT 2, N'Dilizity.Login.Email'   , 0, 0, 0, 0, 0, 0, 0, 1, 0, getdate(), N'System', getdate(), N'System'
UNION ALL
SELECT 3, N'Dilizity.Login.SMS'   , 0, 0, 0, 0, 0, 0, 0, 1, 0, getdate(), N'System', getdate(), N'System'
UNION ALL
SELECT 4, N'Dilizity.Login.Audit'   , 0, 0, 0, 0, 0, 0, 0, 1, 0, getdate(), N'System', getdate(), N'System'
UNION ALL
SELECT 5, N'Dilizity.ChangePassword', 0, 0, 0, 1, 0, 0, 0, 1, 0, getdate(), N'System', getdate(), N'System'
SET IDENTITY_INSERT [dbo].[SEC_PERMISSION] OFF

SET IDENTITY_INSERT [dbo].[SEC_USER] ON
INSERT [dbo].[SEC_USER] ([USER_ID], [LOGIN_ID], [NAME], [PASSWORD], [PASSWORD_POLICY_ID], [IS_SYSTEM], [IS_DELETED], ACCOUNT_LOCK_ON_FAILED_ATTEMPTS, ACCOUNT_LOCKED, CHANGE_PASSWORD_ON_LOGON, EMAIL, MOBILE_NUMBER, LAST_PASSWORD_CHANGE_DATETIME, [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY]) VALUES (1, N'Admin', N'Administrator', N'FujJSM6yJIEghB7oq65OZQ==', 1, 1, 0, 0, 0, 0, 'sasifiqbal@gmail.com', '03028245884', getdate(), getdate(), N'System', getdate(), N'System')
SET IDENTITY_INSERT [dbo].[SEC_USER] OFF

SET IDENTITY_INSERT [dbo].[SEC_ROLE] ON
INSERT [dbo].[SEC_ROLE] ([ROLE_ID], [ROLE_NAME_EN], [ROLE_NAME_AR], [IS_SYSTEM], [IS_DELETED], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY]) VALUES (1, N'Admin', N'', 1, 0, getdate(), N'System', getdate(), N'System')
SET IDENTITY_INSERT [dbo].[SEC_ROLE] OFF
go


INSERT INTO SEC_ROLE_PERMISSION(ROLE_ID,PERMISSION_ID,CREATED_BY,UPDATED_BY)
SELECT (SELECT ROLE_ID FROM SEC_ROLE WHERE ROLE_NAME_EN = 'Admin'),PERMISSION_ID, 'System', 'System'
FROM SEC_PERMISSION
go

SET IDENTITY_INSERT [dbo].[SEC_USER_ROLE] ON
INSERT INTO [dbo].[SEC_USER_ROLE]([USER_ID], [ROLE_ID], [CREATED_ON], [CREATED_BY], [UPDATED_ON],[UPDATED_BY])
     VALUES((SELECT USER_ID FROM SEC_USER WHERE LOGIN_ID = 'Admin')
           ,(SELECT ROLE_ID FROM SEC_ROLE WHERE [ROLE_NAME_EN] = 'Admin')
           ,getdate(), N'System', getdate(), N'System')
GO
SET IDENTITY_INSERT [dbo].[SEC_USER_ROLE] OFF