SET IDENTITY_INSERT MSG_TEMPLATE_CODES ON
INSERT MSG_TEMPLATE_CODES 
(
TEMPLATE_CODE_ID,
NAME,
DESCRIPTION,
MULTIPLE_RESULT,
CONTEXT_AWARE,
DATA_FUNCTION,
IS_DELETED,
IS_SYSTEM,
CREATED_BY,
UPDATED_BY
)
SELECT 1, 'USERS','Return List of Users','TRUE','TRUE','SELECT * FROM dbo.FN_MSG_GET_USERS(''{0}'')',0,1,'System','System'
UNION ALL
SELECT 2, 'USER_NAME','Return Name of User','FALSE','TRUE','SELECT dbo.FN_MSG_GET_USER_NAME(''{0}'')',0,1,'System','System'
UNION ALL
SELECT 3, 'USER_EMAIL_ADDRESS','Return Email address of User','FALSE','TRUE','SELECT dbo.FN_MSG_GET_USER_EMAIL(''{0}'')',0,1,'System','System'

SET IDENTITY_INSERT MSG_TEMPLATE_CODES OFF



SET IDENTITY_INSERT MSG_TEMPLATES ON
INSERT MSG_TEMPLATES 
(
TEMPLATE_ID,
NAME,
DESCRIPTION,
TEMPLATE_TYPE,
TEMPLATE,
SUBJECT,
IS_DELETED,
IS_SYSTEM,
CREATED_BY,
UPDATED_BY
)
SELECT 1, 'DefaultEmailTemplate','Default Email Template',1,'Dear <USER_NAME/>, '+CHAR(13) + CHAR(10) +'Your report has been generated at <USER_EMAIL_ADDRESS/>.' + CHAR(13) + CHAR(10) +'Thanks for doing business with us.'+CHAR(13) + CHAR(10) +'Best Regards,'+CHAR(13) + CHAR(10) +'Team','Dilizity Notification',0,1,'System','System'
UNION ALL
SELECT 2, 'DefaultSMSTemplate','Default SMS Template',2,'Dear <USER_NAME/>, '+CHAR(13) + CHAR(10) +'Your report has been generated at <USER_EMAIL_ADDRESS/>.','', 0,1,'System','System'

SET IDENTITY_INSERT MSG_TEMPLATES OFF
GO

INSERT MSG_ASSIGNED_TEMPLATES 
(
PERMISSION_ID,
TEMPLATE_ID,
IS_SYSTEM,
CREATED_BY,
UPDATED_BY
)
SELECT (SELECT PERMISSION_ID FROM SEC_PERMISSION WHERE PERMISSION_NAME='Dilizity.Login.Email'), 1, 1,'System','System'
UNION ALL
SELECT (SELECT PERMISSION_ID FROM SEC_PERMISSION WHERE PERMISSION_NAME='Dilizity.Login.SMS'), 2, 1,'System','System'

GO

