<!DOCTYPE html>
<html ng-app="ReportingMIS">
<head>
    <meta charset="utf-8" />
    <title>ReportingMIS - Login</title>
    <link rel="stylesheet" type="text/css" href="styles/LoginStyle.css">
    <link rel="stylesheet" type="text/css" href="styles/ui-layout.css" />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="styles/ui-grid.css" />
    <link rel="stylesheet" type="text/css" href="styles/ui-navbar.css" />
    <link rel="stylesheet" type="text/css" href="styles/select.css" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link rel="stylesheet" type="text/css" href="styles/angular.treeview.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <script src="bower_components/iCheck/icheck.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/ui-router-states-tree/ui-router-states-tree.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <!--<script src="bower_components/angular-ui-grid/ui-grid.js"></script>-->
    <!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->

    <script src="scripts/api-check.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls-2.3.1.js"></script>
    <script src="scripts/ui-grid.min.js"></script>
    <script src="scripts/ui-navbar.js"></script>
    <script src="scripts/formly.js"></script>
    <script src="scripts/angular-formly-templates-bootstrap.js"></script>
    <script src="scripts/select.js"></script>
    <script src="scripts/angular.treeview.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/config/formly.config.js"></script>
    <script src="app/config/app.config.js"></script>
    <script src="app/config/app.routes.js"></script>
    <script src="app/directives/loader.js"></script>
    <script src="app/factories/httpInterceptor.js"></script>
    <script src="app/component/shared/commonService/AuthenticationService.js"></script>
    <script src="app/services/ReportService.js"></script>
    <script src="app/services/FlashService.js"></script>
    <script src="app/services/MenuService.js"></script>
    <script src="app/component/shared/sidebar/SidebarService.js"></script>
    <script src="app/component/role/RoleService.js"></script>
    <script src="app/services/AlertService.js"></script>
    <script src="app/services/HelperService.js"></script>
    <script src="app/component/maker/dilizityBackofficeMakerService.js"></script>
    <script src="app/component/shared/commonService/UniversalService.js"></script>


    <!--<script src="app/directives/menuDirective.js"></script>-->
    <!-- Real user service that uses an api -->
    <!-- <script src="app-services/user.service.js"></script> -->
    <!-- Fake user service for demo that uses local storage -->
    <script src="app/services/userServiceMock.js"></script>
    <script src="app/component/shared/login/loginController.js"></script>
    <script src="app/component/shared/changePassword/changePasswordController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/navController.js"></script>
    <script src="app/controllers/layoutController.js"></script>
    <script src="app/controllers/metaReportController.js"></script>
    <script src="app/component/shared/sidebar/sidebarController.js"></script>
    <script src="app/component/role/searchRoleController.js"></script>
    <script src="app/component/role/actionRoleController.js"></script>
    <script src="app/component/maker/dilizityBackofficeMakerController.js"></script>
    <script src="app/component/checker/dilizityBackofficeCheckerController.js"></script>

    <script src="scripts/custom.js"></script>

    <base href="/">
</head>
<body>
    <div>
        <div class="login-page" ng-controller="loginController as vm">
            <div class="form">
                <form class="login-form" name="form" ng-submit="vm.login()" role="form">
                    <fieldset>
                        <input type="text"
                               placeholder="username"
                               name="username"
                               id="username"
                               ng-model="vm.username"
                               ng-minlength=5
                               ng-maxlength=20
                               required />

                        <div class="error" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                            <small class="error" ng-show="loginForm.username.$error.required"> Your name is required.</small>
                            <small class="error" ng-show="loginForm.username.$error.minlength"> Your name is required to be at least 3 characters </small>
                            <small class="error" ng-show="loginForm.username.$error.maxlength"> Your name cannot be longer than 20 characters </small>
                        </div>

                        <input type="password"
                               placeholder="password"
                               name="password"
                               id="password"
                               ng-model="vm.password"
                               ng-minlength=5
                               ng-maxlength=20
                               required />

                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading">Login</button>
                    </fieldset>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            </div>
        </div>
    </div>
</body>
</html>